<div class="app-container" (click)="recognizeInteraction()">
    <div *ngIf="currentAccount">
        <form class="">
            <mat-card>
                <mat-card-header>
                    <div class="dapp-banner-container">
                        <div class="paymachine-img">
                            <img src="../assets/paymachine.png" alt="PayMachine" />
                        </div>
                        <div class="paymachine-title">
                            <h1>Pay Machine Demo Dapp</h1>
                            <h3 *ngIf="fetchCurrentAccountOkay">Account: {{currentAccount}}</h3>
                            <span *ngIf="!fetchCurrentAccountOkay" class="error-message">
                                <mat-icon fontIcon="error"></mat-icon>
                                <div class="error-text">{{fetchCurrentAccountError}}</div>
                            </span>                            
                        </div>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <div class="symbol-select-container">
                        <span *ngIf="!networkRefreshOkay" class="error-message">
                            <mat-icon fontIcon="error"></mat-icon>
                            <div class="error-text">{{networkRefreshError}}</div>
                        </span>
                        <div *ngIf="networkRefreshOkay" [class]="networkClassNames">{{network}}</div>
                        <mat-form-field id="symbol-field">
                            <mat-label>Token</mat-label>
                            <mat-select [(ngModel)]="selectedSymbol" name="selectedSymbol" (ngModelChange)="handleSymbolChange($event)">
                                <mat-option value="ETH">ETH</mat-option>
                                <mat-option value="SMTKN">SMTKN</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="balance-container">
                        <h3 *ngIf="fetchBalanceOkay" id="balance-title">Balance:</h3>
                        <h3 *ngIf="fetchBalanceOkay" id="balance-value">{{currentAccountBalance}} {{selectedSymbol}}</h3>
                        <div *ngIf="!fetchBalanceOkay" id="balance-error" class="error-message">
                            <mat-icon fontIcon="error"></mat-icon>
                            <div class="error-text">{{fetchBalanceError}}</div>
                        </div>                          
                    </div>
                    <mat-form-field id="amount-field">
                        <mat-label>Amount</mat-label>
                        <input matInput [(ngModel)]="sendAmount" name="sendAmount" type="string" placeholder="Amount">
                    </mat-form-field>
                    <mat-form-field *ngIf="selectedAddress != 'ManualEntry'" id="select-to-field">
                        <mat-label>Send To</mat-label>
                        <mat-select [(ngModel)]="selectedAddress" name="selectedAddress" (ngModelChange)="handleAccountChange($event)">
                            <mat-option [value]="'ManualEntry'">Enter Manually</mat-option>
                            <mat-option *ngFor="let address of accounts" [value]="address">
                                {{address}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="selectedAddress == 'ManualEntry'" id="to-field">
                        <mat-label>To</mat-label>
                        <input matInput [(ngModel)]="sendTo" name="sendTo" type="text" placeholder="To">
                    </mat-form-field>
                    <div *ngIf="fetchTransactionsOkay" class="transactions-container">
                        <table mat-table [dataSource]="transactions">
                            <ng-container matColumnDef="to">
                                <th mat-header-cell *matHeaderCellDef>To</th>
                                <td mat-cell *matCellDef="let transaction">{{transaction.to}}</td>
                            </ng-container>
                            <ng-container matColumnDef="amount">
                                <th mat-header-cell *matHeaderCellDef class="transaction-amount-header">Amount</th>
                                <td mat-cell *matCellDef="let transaction" class="transaction-amount">{{transaction.amount}}</td>
                            </ng-container>
                            <ng-container matColumnDef="symbol">
                                <th mat-header-cell *matHeaderCellDef>Token</th>
                                <td mat-cell *matCellDef="let transaction">{{transaction.symbol}}</td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="txTableColumns"></tr>
                            <tbody>
                                <tr mat-row *matRowDef="let row; columns: txTableColumns"></tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="!fetchTransactionsOkay" id="fetch-transactions-error" class="error-message">
                        <mat-icon fontIcon="error"></mat-icon>
                        <div class="error-text">{{fetchTransactionsError}}</div>
                    </div>                        
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="basic" [disabled]="clearButtonDisabled()" (click)="clear()">Clear</button>
                    <button mat-raised-button color="basic" [disabled]="sendButtonDisabled()" (click)="send()">Send</button>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
    <div *ngIf="!currentAccount" class="connect-container">
        <img id="metamask-icon" src="../assets/MetaMask_Fox.png" alt="MetaMask" />
        <h1>MetaMask Not Connected</h1>
        <p>Please login to MetaMask and connect an account</p>
    </div>
    <p style="text-align: right; margin-right: 10px;">
        <a href="https://www.freepik.com/free-vector/cartoon-self-ordering-kiosk-collection_21074706.htm#query=illustrations%20atm%20machine&position=43&from_view=search&track=ais">Kiosk Image by pikisuperstar</a> on Freepik
    </p>    
</div>
